bleak==0.22.3
distlib==0.3.9
docutils==0.21.2
pillow==10.4.0
Kivy==2.3.1
Kivy-Garden==0.1.5
kivy_deps.angle==0.4.0
kivy_deps.glew==0.3.1
kivy_deps.sdl2==0.8.0
kivy_garden.matplotlib==0.1.1.dev0
matplotlib==3.9.2
matplotlib-inline==0.1.7
scipy==1.15.1
seaborn==0.13.2
numpy==2.1.2
ipython==8.28.0
pandas==2.2.3
pandas-datareader==0.10.0
pyserial==3.5
setuptools==75.1.0