<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Robot Driver App</title>
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" href = "{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <h1>Robot Driver App</h1>

  <form method = "POST" action = "/login" class = "login-form">
    <div class = "entry-item">
      <input type = "password" name = "password" class = "entry-input" id = "password" placeholder = "Enter Code">
      <button type = "submit" class = "submit-button" id = "loginButton">Login</button>
    </div>
    {% if error %}
        <p id = "errorMessage">{{ error }}</p>
    {% endif %}
  </form>
</body>

</html>
