body {
  margin: 0;
  padding: 0;

  min-height: 100vh; /* Use Full Viewport Height */
  display: flex;
  flex-direction: column; /* Stack Header and Main Content Vertically */
  align-items: center; /* Center Content Horizontally */

  background-color: rgb(20, 21, 32);
  color: rgb(85, 142, 181);

  font-family: Arial, sans-serif;
  font-size: 25px;
  text-align: center;
}

h1 {
  margin: 20px 0 10px 0; /* Give Space Above and Below */
  font-size: 55px;
  color: rgb(145, 145, 145);
}

.logout-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.logout-button {
  font-size: 14px;
  padding: 6px 12px;
  background-color: rgb(180, 55, 55);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: rgb(150, 30, 30);
}

/* Responsive For Smaller Screens */
@media (max-width: 600px) {
  .logout-button {
    font-size: 12px;
    padding: 5px 10px;
  }
}

.main-content {
  flex: 1; /* Fill Remaining Vertical Space */
  display: flex;
  flex-direction: column; /* Stack Elements Vertically */

  /* Center Elements Vertically and Horizontally */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.device-section {
  margin-bottom: 20px;

  button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
  }

  select {
    font-size: 16px;
    padding: 6px;
    margin: 5px;
  }
}

#scanButton {
  background-color: rgb(55, 92, 194);
  color: white;
  cursor: pointer;
}

.entry-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  #entryInput {
    width: 75%;
    margin-right: 10px;
  }
}

.move-container {
  display: grid; /* 3 X 3 Grid */
  justify-content: center;

  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;

  margin-top: 20px;
}

button.moveButton {
  padding: 20px;
  width: 100%;
  height: 100%;

  font-size: 24px;
  background-color: rgb(120, 185, 114);

  border: black 1px solid;
  border-radius: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

#idleButton {
  padding: 25px;
  width: 100%;
  height: 100%;

  background-color: rgb(216, 117, 100);
  color: white;
}

#statusLabel {
  display: block;
  margin-top: 10px;
}
