body {
  margin: 0;
  padding: 0;

  min-height: 100vh; /* Use Full Viewport Height */
  display: flex;
  flex-direction: column; /* Stack Header and Main Content Vertically */
  align-items: center; /* Center Content Horizontally */

  background-color: rgb(20, 21, 32);
  color: rgb(85, 142, 181);

  font-family: Arial, sans-serif;
  font-size: 25px;
  text-align: center;
}

h1 {
  margin: 20px 0 10px 0; /* Give Space Above and Below */
  font-size: 55px;
  color: rgb(145, 145, 145);
}

button {
  border-radius: 5px;
  border: none;
}

button:enabled {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.login-form {
  display : flex;
  padding : 5% 0 0 0;
  flex-direction : column;
  align-items : center;
}

.submit-button {
  margin : 10px 0;
  font-size : 16px;
}

.logout-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.main-content {
  flex: 1; /* Fill Remaining Vertical Space */
  display: flex;
  flex-direction: column; /* Stack Elements Vertically */

  /* Center Elements Vertically and Horizontally */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.device-section {
  margin : 0 0 20px 0;

  button {
    padding: 10px 20px;
    margin: 5px;

    color: white;
    font-size: 16px;
  }

  select {
    padding: 6px;
    margin: 5px;
    font-size: 16px;
  }
}

.entry-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 10px 0; /* Space Below Each Entry Item */
}

.entry-input {
  width: 75%;
  margin: 0 10px;
  padding: 5px;

  font-size: 16px;
}

.move-container {
  display: grid; /* 3 X 3 Grid */
  justify-content: center;

  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;

  margin-top: 20px;
}

.move-button {
  padding: 20px;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  background-color: rgb(120, 185, 114);
  border: black 1px solid;
}

.submit-button:enabled {
  background-color: rgb(120, 185, 114);
  color: black;
}

.submit-button:enabled:hover {
  background-color: rgb(20, 97, 6);
  color: white;
  transform: scale(1.05); /* Slightly Enlarge Button on Hover */
  transition: transform 0.2s ease-in-out, background-color 0.5s ease;
}

.move-button:enabled {
  color: black;
}

.move-button:enabled:hover {
  background-color: rgb(20, 97, 6);
  color: white;
  transform: scale(1.05); /* Slightly Enlarge Button on Hover */
  transition: transform 0.2s ease-in-out, background-color 0.5s ease;
}

#errorMessage {
  width: 75%;
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  color: rgb(226, 65, 65);
}

#statusLabel {
  display: block;
  margin: 15px 0;
  font-size: 20px;
}

#logoutButton {
  font-size: 12px;
  padding: 6px 12px;
  background-color: rgb(226, 65, 65);
  transition: background-color 0.3s ease;
  color: black;
}

#logoutButton:hover {
  background-color: rgb(223, 37, 37);
  color: white;
  transform: scale(1.05); /* Slightly Enlarge Button on Hover */
  transition: transform 0.2s ease-in-out, background-color 0.5s ease;
}

#scanButton {
  background-color: rgb(55, 92, 194);
  color: black;
}

#scanButton:hover {
  background-color: rgb(42, 97, 247);
  color: white;
  transform: scale(1.05); /* Slightly Enlarge Button on Hover */
  transition: transform 0.2s ease-in-out, background-color 0.5s ease;
}

#connectionButton:enabled {
  color: black;
}

#connectionButton:enabled:hover {
  color: white;
  transform: scale(1.05); /* Slightly Enlarge Button on Hover */
  transition: transform 0.2s ease-in-out;
}

#idleButton {
  background-color: rgb(216, 117, 100);
}

#idleButton:enabled:hover {
  background-color: rgb(238, 49, 49);
  color: black
}

/* Responsive For Larger Screens */
@media (min-height: 1000px) {
  h1 {
    font-size: 70px;
    margin: 50px 0 10px 0; /* Give Space Above and Below */
  }

  .login-form {
    padding : 10% 0 0 0;
  }

  .submit-button {
    margin : 25px 0;
    padding : 5px 5px;
    font-size : 25px;
  }

  .device-section {
    margin : 0 0 150px 0;

    button {
      font-size: 25px;
    }

    select {
      font-size: 25px;
    }

    select:disabled {
      color: white;
    }

    select:enabled {
      color: black;
    }
  }

  .entry-input {
    font-size: 25px;
  }

  .move-button {
    padding: 25px;
    font-size: 30px;
  }

  #errorMessage {
    width: 100%;
    margin-top: 50px;
    font-size: 35px;
  }

  #statusLabel {
    margin: 50px 0;
    font-size: 35px;
  }

  #logoutButton {
    font-size: 25px;
    margin: 10px 10px;
  }
}


/* Responsive For Smaller Screens */
@media (max-width: 750px) {
  .device-section {
    button {
      font-size: 14px;
    }

    select {
      font-size: 14px;
    }
  }
}
@media (max-width: 650px) {
  h1 {
    font-size: 40px;
    margin: 50px 0 10px 0; /* Give Space Above and Below */
  }

  button {
    font-size: 12px;
  }

  .entry-input {
    width: 60%;
    font-size: 14px;
  }

  .move-button {
    padding: 25px;
    font-size: 15px;
  }

  #logoutButton {
    font-size: 10px;
    margin: 5px 0px;
  }

  #errorMessage {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  h1 {
    margin: 60px 0 10px 0; /* Give Space Above and Below */
  }
}
