distlib==0.3.9
docutils==0.21.2
pillow==11.1.0
picamera2==0.3.25
simplejpeg==1.8.2
Kivy==2.3.1
Kivy-Garden==0.1.5
kivy_garden.matplotlib==0.1.1.dev0
matplotlib==3.9.2
matplotlib-inline==0.1.7
scipy==1.15.1
seaborn==0.13.2
numpy==2.2.3
ipython==8.28.0
pandas==2.2.3
pandas-datareader==0.10.0
pyserial==3.5
setuptools==75.1.0

# Pi Preinstalled Packages:
asttokens==3.0.0
attrs==25.1.0
av==14.2.0
certifi==2025.1.31
charset-normalizer==3.4.1
contourpy==1.3.1
cycler==0.12.1
dbus-fast==2.33.0
decorator==5.1.1
executing==2.2.0
filetype==1.2.0
fonttools==4.56.0
idna==3.10
jedi==0.19.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
libarchive-c==5.1
lxml==5.3.1